.popup__container {
    width: 28.5%;
    background-color: white;
    border-radius: 10px;
    padding: 34px 36px 0;
    height: fit-content;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 89.3%;
        margin: 0 5%;
    }
    }
    