.popup__close {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 56px; 
    height: 56px;
    margin-top: 265px;
    padding: 0;
    margin-left: -10px;
}

.popup__close:hover {
    opacity: .6;
    transition: ease-in-out .5s;
}

@media screen and (max-width: 600px) {
    .popup__close {
        width: 40px;
        height: 40px;
        margin: 260px 0 0 -20px;
        background-size: cover;
    }
    }

    @media screen and (max-width: 300px) {
        .popup__close {
            margin-left: -40px;
        }
        }