@import url(./__img/card__img.css);
@import url(./__name/card__name.css);
@import url(./__name-container/card__name-container.css);
@import url(./__like/card__like.css);
 
.card {
    max-width: 282px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

/*@media screen and (max-width: 660px) {
.card__name {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

}