@import url("./__img/card__img.css");
@import url("./__name/card__name.css");
@import url("./__name-container/card__name-container.css");
@import url("./__like/card__like.css");
 
.card {
    max-width: 282px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
}
